@model IEnumerable<bdhlession09_EF.Models.Publisher>

@{
    ViewData["Title"] = "Danh sách nhà xuất bản";
}

<h1 class="tex-center">@ViewData["Title"]</h1>

<p>
    <div class="d-flex justify-content-between align-items-center my-3">
        <form class="d-flex w-50" role="search" asp-action="BdhIndex" method="get">
            <input class="form-control me-2" type="search" placeholder="Tìm kiếm..." aria-label="Search" name="keyword" />
            <button class="btn btn-success" type="submit">
                <i class="bi bi-search"></i> Tìm
            </button>
        </form>
        <a asp-action="BdhCreate" class="btn btn-primary">
            <i class="bi bi-plus-circle"></i> Thêm mới
        </a>
    </div>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PublisherName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PublisherName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                <a asp-action="BdhEdit" asp-route-bdhid="@item.PublisherId" class="btn btn-primary">Sửa</a> |
                <a asp-action="BdhDetails" asp-route-bdhid="@item.PublisherId" class="btn btn-info">Xem</a> |
                <a asp-action="BdhDelete" asp-route-bdhid="@item.PublisherId" class="btn btn-danger">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
